.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-container {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    text-align: center;
}

.modal-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

button {
    cursor: pointer;
}